In [1]:
import random
import os
from random import choice
import statistics
import sys
import pandas as pd

In [18]:
event_types = ['Music', 'Performing & Visual Art', 'Seasonal', 'Health', 'Hobbies', 'Business', 'Food & Drink', 'Sports & Fitness']

In [19]:
def calculate_actual_attendance(num_tickets_left, num_tickets_available, precipitation, ticket_price):
    tickets_sold = num_tickets_available - num_tickets_left
    if precipitation > 50:  # Bad weather
        return random.randint(int(0.3 * tickets_sold), int(0.7 * tickets_sold))
    else:  # Good weather
        if ticket_price < 30:  # Low-priced tickets
            return random.randint(int(0.3 * tickets_sold), int(0.6 * tickets_sold))
        else:
            return random.randint(int(0.7 * tickets_sold), tickets_sold)

In [20]:
available_event_ids = set(range(31, 1001))
data = []
used_event_ids = set()

for _ in range(500):
    event_id = random.choice(list(available_event_ids))
    used_event_ids.add(event_id)
    available_event_ids.remove(event_id)

    creator_id = f'user{random.randint(1, 10)}@example.com'
    event_type = random.choice(event_types)
    ticket_price = random.randint(10, 50)
    num_tickets_available = random.randint(50, 200)
    num_tickets_left = random.randint(0, num_tickets_available)
    host = f'Host{random.randint(1, 5)}'
    is_online = random.choice([True, False])

    tmp_min, tmp_max = random.uniform(0, 20), random.uniform(20, 40)
    tmp_mid = (tmp_min + tmp_max) / 2
    precipitation = random.uniform(0, 50)
    wind_speed = random.uniform(0, 20)

    if not is_online:
        if precipitation > 50:
            num_tickets_left = num_tickets_available
        elif precipitation > 25:
            num_tickets_left = num_tickets_available - random.randint(30, 50)
        elif precipitation > 10:
            num_tickets_left = num_tickets_available - random.randint(10, 30)
        else:
            num_tickets_left = num_tickets_available - random.randint(0, 10)

    actual_attendance = calculate_actual_attendance(num_tickets_left, num_tickets_available, precipitation, ticket_price)

    past_event_stats = {
        'creator_id': creator_id,
        'event_id': event_id,
        'event_type': event_type,
        'ticket_price': ticket_price,
        'num_tickets_available': num_tickets_available,
        'num_tickets_sold': int(num_tickets_available) - int(num_tickets_left),
        'host': host,
        'is_online': is_online,
        'tmp_mid': tmp_mid,
        'tmp_min': tmp_min,
        'tmp_max': tmp_max,
        'precipitation': precipitation,
        'wind_speed': wind_speed,
        'actual_attendance': actual_attendance
    }

    data.append(past_event_stats)

df = pd.DataFrame(data)

In [21]:
df

,creator_id,event_id,event_type,ticket_price,num_tickets_available,num_tickets_sold,host,is_online,tmp_mid,tmp_min,tmp_max,precipitation,wind_speed,actual_attendance
0,user8@example.com,960,Sports & Fitness,12,72,8,Host5,True,18.488613,15.025891,21.951336,38.791795,3.477851,3
1,user6@example.com,666,Business,22,157,1,Host4,False,25.820405,14.121679,37.519131,6.584357,3.649633,0
2,user4@example.com,188,Performing & Visual Art,29,100,19,Host4,False,23.295563,19.917428,26.673699,18.679263,19.054128,7
3,user6@example.com,895,Music,10,136,24,Host5,False,21.350742,17.080426,25.621059,18.753444,10.417700,11
4,user7@example.com,214,Food & Drink,48,181,142,Host4,True,20.835105,6.324648,35.345562,21.222962,0.599593,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,user8@example.com,345,Sports & Fitness,50,194,32,Host4,False,26.007491,17.563921,34.451062,49.084900,13.589877,27
496,user5@example.com,227,Hobbies,14,118,32,Host2,True,23.963973,17.637955,30.289990,22.408920,19.571770,14
497,user6@example.com,76,Business,41,117,39,Host5,False,28.017283,18.008876,38.025690,25.687657,19.477845,30
498,user2@example.com,883,Sports & Fitness,48,63,5,Host3,True,19.871407,17.453526,22.289288,0.590704,1.020513,3
499,user5@example.com,295,Health,30,148,31,Host4,True,21.200457,10.401848,31.999065,27.578040,15.176821,21

In [22]:
# Get the directory of the currently executing script
directory = os.path.dirname(os.path.abspath(r'C:\Users\borum\3900 Project\Pomi\capstone-project-3900w18bpomi\backend\src)'))

# Save DataFrame to a CSV file in the same directory
csv_path = os.path.join(directory, 'generated_data.csv')
df.to_csv(csv_path, index=False)
print(f"CSV file saved to {csv_path}")

CSV file saved to C:\Users\borum\3900 Project\Pomi\capstone-project-3900w18bpomi\backend\generated_data.csv